# CODEOWNERS file for kb
# Learn more about CODEOWNERS on GitHub:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-codeowners

* @athal7 @stephengolub
